header {
    position: absolute;
    top: 0;
    left: 400px;
    right: 505px;
    height: 80px;
    background: gray;
    display: block;
}

nav {
    position: relative;
    top: 72px;
    left: 392px;
    right: 505px;
    height: 18px;
    width: 958px;
    /*background: dodgerblue;*/
    border: 1px solid red;
    display: block;
}

nav ul {
    list-style-type: none;
    display: inline-block;
}

nav ul li {
    display: inline-block;
}

.img {
    width: 960px;
    height: 169px;
    border: 1px solid red;
}

.nav {
    float: left;
    background: gray;
    width: 100px;
    height: 60px;
}

.nav2 {
    float: right;
    background: gainsboro;
    width: 100px;
    height: 60px;
}