body {
    max-width: 1357px;
}

header {
    position: relative;
    top: 0;
    left: 500px;
    height: 80px;
    width: 795px;
    border: 1px solid red;
}

nav {
    position: relative;
    left: 500px;
    height: 50px;
    width: 795px;
    border: 1px solid black;
}

.Knopka {
    position: relative;
    display: inline-block;
    width: 390px;
    height: 50px;
    border: 1px solid gold;
    left: 500px;
}

.pole {
    position: relative;
    display: inline-block;
    width: 404px;
    height: 50px;
    left: 495px;
    border: 1px solid green;
}

article {
    position: relative;
    display: block;
    width: 795px;
    height: 580px;
    left: 500px;
    border: 1px solid red;
}

.knopka2 {
    position: relative;
    left: 500px;
    height: 50px;
    width: 795px;
    border: 1px solid gold;
}

footer {
    position: relative;
    left: 500px;
    height: 80px;
    width: 795px;
    border: 1px solid red;
}